{% extends 'core/base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
    <div class="grid grid-cols-5 gap-6">
        <div class="col-span-3">
            <img src="{{ item.image.url }}" class="rounded-xl">
        </div>

        <div class="col-span-2 p-6 bg-slate-300 rounded-xl">
            <h1 class="mb-6 text-3xl font-semibold text-black">{{item.name}}</h1>
            <p class="text-black"> <strong> Precio: </strong> ${{item.price}} </p>
            <p class="text-black"> <strong> Vendedor: </strong> {{item.created_by.username}} </p>

            {% if item.description %}

                <p class="text-black"> <strong class="text-black"> Descripción: </strong>{{item.description}} </p>

            {% endif %}

            {% if request.user == item.created_by %}

            <div class="mt-6 p-6 bg-slate-200 rounded-xl">
                <p class="text-black">Este es tu item!</p>
                <a href="{% url 'item:edit' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold text-white rounded-xl transition duration-200 ease-in-out bg-cyan-500 hover:bg-cyan-600">Editar</a>

                <a href="{% url 'item:delete' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold text-white rounded-xl transition duration-200 ease-in-out bg-red-500 text-white rounded-xl hover:bg-red-600">Eliminar</a>
            </div>

            {% else %}

            <a href="{% url 'conversation:new' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-cyan-500 text-white rounded-xl hover:bg-cyan-600 transition duration-200 ease-in-out"> Contactar Vendedor
            </a>

            {% endif %}

        </div>

    </div>

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl bg-gradient-to-tr from-cyan-300 via-cyan-500 to-cyan-400">
        <h2 class="mb-12 text-2xl text-center font-semibold text-white">Items relacionados</h2>

        <div class="grid grid-cols-3 gap-6">
            {% for item in related_items %}
                <div class="shadow-xl shadow-inner hover:scale-90 transform transition duration-500 ease-in-out">
                    <a href="{% url 'item:detail' item.id %}">
                        <div>
                            <img src="{{item.image.url}}" class="rounded-t-xl">       
                        </div>

                        <div class="p-6 bg-black rounded-b-xl">
                            <h2 class="text-2xl text-white">{{item.name}}</h2>
                            <p class="text-white">Precio: ${{item.price}}</p>
                        </div>

                    </a>
                </div>

            {% endfor %}    
        </div>

    </div>

{% endblock %}